@mixin button-template($size, $color) {
  @if $size == 1 {
    height: 50px;
    width: 126px;
    padding: 0 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    @include flex-bundle(center, center);
  }
  @if $size == 2 {
    padding: 5px 10px;
    width: auto;
    font-size: 26px;
    border-radius: 4px;
    text-align: center;
  }
  
  @if $color == "green" {
    border: 2px solid darkgreen;
    background-color: #ddffdd;
  }
  @if $color == "red" {
    border: 2px solid darkred;
    background-color: #ffdddd;
  }
  @if $color == "yellow" {
    border: 2px solid #4e432e;
    background-color: #ffe4c4;
  }
}
