@mixin cover-item() {
  height: 50px;
  width: 126px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  border: solid 3px black;
  border-radius: 15px 0 0 15px;
  background-color: rgb(214, 214, 214);
  @include flex-bundle(flex-end, center);
}

@mixin cover-textbox() {
  height: 50px;
  width: 374px;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  border: solid 3px black;
  border-left: 0px;
  border-radius: 0 15px 15px 0;
  background-color: white;
  outline: none;
  @include flex-bundle(flex-end, center);
}

@mixin cover-title() {
  color: white;
  font-size: 30px;
  text-shadow:  2px  2px 2px #333;
  font-weight: bold;
  border-bottom: solid 3px white;
}

@mixin text-color() {
  color: #0e0e0f;
}

@mixin book-page() {
  height: 190px;
  width: 200px;
  background-color: #eee5d2;
}