@mixin cover-item() {
  height: 35px;
  width: 90px;
  padding: 2px 6px 2px 12px;
  font-size: 16px;
  border: solid 2px black;
  border-radius: 10px 0 0 10px;
  background-color: #d6d6d6;
  @include flex-bundle(flex-end, center);
  
}

@mixin cover-textbox() {
  height: 35px;
  width: 595px;
  padding: 2px 20px;
  font-size: 16px;
  border: solid 2px black;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  background-color: white;
  outline: none;
  @include flex-bundle(flex-end, center);
}

@mixin book-page() {
  height: 190px;
  width: 200px;
  background-color: #eee5d2;
}
