@mixin status-color($status) {
  @if $status == 0 {
    border: 2px solid darkgreen;
    background-color: #ddffdd;
  }
  @if $status == 1 {
    border: 2px solid darkred;
    background-color: #ffdddd;
  }
  @if $status == 2 {
    border: 2px solid #4e432e;
    background-color: #ffe4c4;
  }
}