.TotalNumberOfBookmarks
  = Bookmark.bookmarkCount(b.id)
- if Bookmark.whetherBookmarked(current_user.id, b.id)
  .BookmarkButton.SaveBookmarkButton{"data-id" => b.id}
    = icon('fa', 'star')
- else
  .BookmarkButton.DeleteBookmarkButton{"data-id" => b.id}
    = icon('fa', 'star')