@import "../mixin/flex-bundle";
@import "../mixin/button-template";

.TopItems {
  min-height: 80px;
  width: auto;
  margin: 10px 9px;
  padding: 5px 20px;
  background-color: #22185ee6;
  @include flex-bundle(center, "");
  flex-direction: column;
  &__searchedTitle {
    color: whitesmoke;
    font-size: 18px;
  }
  &__searchedCount {
    margin-top: 5px;
    color: silver;
    font-size: 11px;
  }
}