%header
  .flexSpace
  = link_to books_path, class: "logo" do
    = image_tag 'title.jpg', alt: '始まりの図書館'
  .flexSpace
  = render 'share_contents/search/search_bar'
  .flexSpace
  = render 'share_contents/header/user_content'
  .flexSpace