.center
  .center__over-color
    .menu
      .menu__left
        .hoge
          実装中
        ・センテンスの活用機能
      .menu__right
        .SentenceInfo
          盗んだセンテンス
        .SentenceList
          - @sentences.each do |sentence|
            .SentenceBox
              .SentenceBox__deleteSentence{"data-id" => sentence.id}
                = icon('fa', 'trash')
              .SentenceBox__sentence
                = safe_join(sentence.sentence.split("\n"),tag(:br))
