.center
  .center__over-color
    .MyPageWide
      = render 'users/mypages/mypage_wide'
    .MyPageSmall
      .SmallContent.Special.Search
        = render 'share_contents/search/search_bar'
      = render 'users/mypages/mypage_small'
