@import "../mixin/flex-bundle";
@import "../mixin/button-template";
@import "../mixin/book-frame";

.SortLabel {
  margin: 10px 20px 0 auto;
  &__select {
    height: 80px;
    padding: 20px;
    background-color: #22185ee6;
    @include flex-bundle(center, center);
    select {
      height: 35px;
      padding: 0 10px;
      outline: none;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
  .SortSubmit {
    display: none;
  }

  &__radio {
    height: max-content;
    padding: 20px;
    margin-top: 15px;
    background-color: #22185ee6;
    h1 {
      color: whitesmoke;
      font-size: 18px;
    }
    h2 {
      color: whitesmoke;
      margin-top: 10px;
    }
    table {
      th {
        .CheckBox {
          height: 20px;
          width: 20px;
          margin-top: 6px;
          cursor: pointer;
        }
      }
      td {
        padding: 5px 0 0 10px;

        .CanRental {
          cursor: pointer;
          @include button-template("very-small", "green");
          box-shadow: none;
        }
        .CanNotRental {
          cursor: pointer;
          @include button-template("very-small", "red");
          box-shadow: none;
        }
        .Complete {
          cursor: pointer;
          @include button-template("very-small", "yellow");
          box-shadow: none;
        }
      }
    }

    .RentalStateSubmit {
      display: block;
      margin: 15px 0 0 auto;
      padding: 2px 5px;
    }
  }
  
}

.MainLabel {
  width: 772px;
  margin-right:auto;
}

.MainSearchLabel {
  width: 772px;
  margin:0 auto;
}

.main{
  max-width: 772px;
  margin: 0 auto;
  padding-bottom: 30px;
  @include flex-bundle("", "");
  flex-wrap: wrap;
  &__frame {
    min-height: 281px;
    min-width: 193px;
    @include flex-bundle(center, center);
  }
}

.SmallContent.SearchItems {
  display: none;
  width: max-content;
  margin: 15px auto 0 auto;
  color: white;
  font-size: 14px;
}

.SmallContent.Special.Search {
  width: max-content;
  margin: 10px auto 0 auto;
}

.TopAndBottomCenterCover {
  flex-grow: 1;
  @include flex-bundle(center, "");
  flex-direction: column;
}

@mixin SortBoxTemplate() {
  width: 198px;
  margin-top: 5px;
  padding: 15px 15px 5px 15px;
  background-color: #ebd0ad;
  border: solid #d8ab71 4px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

@mixin SelectItemTemplate() {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #ddf;
  border: outset #aab 2px;
  border-radius: 3px;
  cursor: pointer;
}

.SortIcons {
  @include SortBoxTemplate();
  .BookIcon, .BookColor {
    @include SelectItemTemplate();
    &__image {
      height: 100%;
      width: 100%;
    }
    &__image:hover {
      opacity: 0.5;
      background-color: #bbbbcc;
    }
  }
  input {
    display: none;
  }
}

.SortColors {
  @include SortBoxTemplate();
  .BookColor {
    @include SelectItemTemplate();
    position: relative;
    i {
      display: none;
      position: absolute;
      right: -2px;
      bottom: -2px;
      padding: 3px;
      font-size: 16px;
      color: whitesmoke;
      border: outset 2px  rgb(25, 95, 223);
      border-radius: 2px;
      background-color: rgb(25, 95, 223);
    }
  }
  .BookColor:hover {
    opacity: 0.5;
  }
  input {
    display: none;
  }
}

.allCheckContents {
  margin-top: 10px;
  font-size: 12px;
  @include flex-bundle("","");
  .CheckButton {
    margin-left: 3px;
    padding: 0 4px;
    background-color: #efefef;
    border: solid 1px #767676;
    box-shadow: #6464644d 0px 1px 3px;
    border-radius: 4px;
    cursor: pointer;
  }
  .CheckButton:hover {
    background-color: #dfdfdf;
  }
}
