@import "../mixin/flex-bundle";
@import "../mixin/button-template";

.SearchBar {
  max-width: 500px;
  // flex-grow: 1;
  @include flex-bundle(center,center);
  &__textField {
    height: 35px;
    width: calc(100% - 35px);
    background-color: white;
    border: solid 2px gray;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
    outline: none;
  }
  &__submit {
    height: 35px;
    min-width: 35px;
    width: 45px;
    @include button-template("", "yellow");
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    @include flex-bundle(center, center);
    outline: none;
    cursor : pointer;
  }
  &__submit:hover {
    @include button-template("", "hover-yellow");
  }
}
