-# .book
= link_to book_path(1), class: "book" do
  .book__body
    .book__body__image
      image
    .book__body__progress
      未完
  .book__name
    Sample
  .book__state.book__state--there
    持出可