.show-wrapper
  .book-top
    .book-top__info
      .book-top__info__title
        Title:世界は俺を味方した
      .book-top__info__autor
        Autor:落葉 茂
    .book-top__cover
  .story

    .story-content
      .story-contnt__info
        .story-contnt__info__chapter
        .story-contnt__info__chapter-textbox
        .story-contnt__info__autor
        .story-contnt__info__autor-name
      .story-contnt__text
