.StealContents
  .StealContents__stealSentences
    .StealContents__stealSentences__info
      本文をドラッグしてセンテンスを盗むことができます。
    .StealContents__stealSentences__sentences
      .SentenceBox
        .SentenceBox__saveButton{"data-index" => 0, "data-text_id" => 0}
          = icon('fa', 'save')
        .SentenceBox__sentence{"data-index" => 0}
          これはテストです
  .StealContents__bag
    = image_tag 'steal_bag.png', alt: '袋'