.StealContents
  .StealContents__stealSentences
    .StealContents__stealSentences__info
      本文をドラッグしてセンテンスを盗むことができます。
    .StealContents__stealSentences__sentences
  .StealContents__bag
    = image_tag 'steal_bag.png', alt: '袋'