- texts.each do |t|
  .story-content
    .story-content__info
      .story-content__info__chapter
        = "1章：#{t.chapter}"
      .story-content__info__author
        = t.user.name
    .story-content__text
      = t.text
