.IndexWrapper
  .SortLabel
    %select.SortLabel__select
      %option{value: 'created_at_desc'}
        投稿が新しい順
      %option{value: 'created_at_asc'}
        投稿が古い順
      %option{value: 'updated_at_desc'}
        更新が新しい順
      %option{value: 'updated_at_asc'}
        更新が古い順
  .MainLabel
    .TopItems
      .TopItems__searchedTitle
        = @search_title
      .TopItems__searchedCount
        = "#{@search_count}冊の本が見つかりました"
    .main
      - @books.each do |books|
        .main__frame
          = render partial: 'book', locals: { b: books }
