.center
  .center__over-color
    .SmallMyPage
      .menu.menu--compactPaper.InfoPage
        %h1 始まりの図書館の使い方
        %h2.infoHeading 本を投稿しよう
        = image_tag 'info/new.png', alt: '投稿画面', height: '500px'