.IndexWrapper
  .MainSearchLabel
    .TopItems
      .TopItems__searchedTitle
        = @search_title
      .TopItems__searchedCount
        = "#{@search_count}冊の本が見つかりました"
    .main
      - @books.each do |books|
        .main__frame
          = render partial: 'book', locals: { b: books }