@import "top";
@import "main";

* {
  box-sizing: border-box;
}

.wrapper {
  overflow: scroll;
}

body {
  width: 100vw;
  position: absolute;
  top: 100px;
  background-image: url("../library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.white {
  background-color:rgba(0, 0, 200, 0.15);
}
