@import "top";
@import "main";

* {
  box-sizing: border-box;
}

.wrapper {
  height: calc(100% - 110px);
  background-color:rgba(0, 50, 100, 0.3);
  overflow: auto;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}
