.notice {
  color: #fff;
  text-align: center;
  background-color: #15415a;
}

.alert {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #fff;
  text-align: center;
  background-color: rgb(35, 24, 94);
}
