@import "mixin/flex-bundle";
@import "mixin/button-template";
@import "mixin/various-template";

@mixin stealButton() {
  height: 35px;
  width: 40px;
  border: solid #1f1f1f 2px;
  @include flex-bundle(center, center);
}

header {
  @include calc-header-height("header");
  width: 100%;
  background-image: image-url("wood.jpg");
  border-bottom: solid 2px #000;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  @include flex-bundle(space-between, center);
}

.logo {
  margin-left: 10vw;
  font-size: 32px;
  @include flex-bundle(center, "");
  img {
    height: 70px;
  }
}

.user {
  height: 76px;
  width: auto;
  min-width: 247px;
  margin-right: 10vw;
  background-color: rgb(232, 232, 255);
  border: solid 2px darkblue;
  padding: 8px 10px;
  resize: none;
  @include flex-bundle("", center);

  &__name {
    margin-top: 8px;
    margin-right: 10px;
    font-size: 16px;
    @include flex-bundle("", center);
    &__icon {
      @include small-icon();
    }
  }

  &__box {
    margin-top: 9px;
    @include flex-bundle(flex-end, "");

    &__hasbook {
      margin-right: 10px;
      @include flex-bundle(center, center);
      &--taking-out {
        @include button-template("small", "red");
      }
      &--taking-out:hover {
        @include button-template("", "hover-red");
      }
      &--not-taking-out {
        @include button-template("small", "green");
      }
    }

    &__dropdown {
      &__arrow-menu {
        display: none;
        position: relative;
        ul {
          position: absolute;
          top: 13px;
          left: -48px;
        }
      }
      
      &__button {
        @include button-template("small", "yellow");
        margin-right: 10px;
        @include flex-bundle(center, center);
      }
      &__button:hover {
        @include button-template("", "hover-yellow");
      }
  
      &__post-button {
        @include button-template("small", "green");
        margin-right: 10px;
      }
      &__post-button:hover {
        @include button-template("", "hover-green");
      }
  
      &__arrow {
        margin: 0 10px;
        @include button-template("small", "green");
        width: 40px;
        font-size: 18px;
        @include flex-bundle(center, center);
        i {
          padding: 23px;
        }
      }
      &__arrow:hover {
        @include button-template("", "hover-green");
      }
    }

    .stealSwitch {
      margin-top: 2px;
      height: 35px;
      width: 81px;
      border-radius: 5px;
      background-color: #858797;
      cursor : pointer;
      @include flex-bundle("", "");
      &__sun {
        @include stealButton();
        margin-right: 1px;
        border-radius: 5px 0 0 5px;
        background-color: #ffcf76;
        .fa-sun {
          margin-top: 1px;
          font-size: 20px;
        }
      }
      &__moon {
        @include stealButton();
        border-radius: 0 5px 5px 0;
        background-color: #7474ff;
      }
    }
  }
}
