@import "mixin/flex-bundle";

.main{
  height: calc(100vh - 170px);
  @include flex-bundle(center, center);
  &__frame {
    height: calc(90vh - 170px);
    width: 90vw;
    background-color: darkkhaki;
    padding: 20px 0 20px 20px;
    @include flex-bundle("", "");
  }
}

.book {
  height: 300px;
  width: 220px;
  background-color: white;
  border: solid 1px black;
  margin: 0 20px 20px 0;
  &__body {
    height: 200px;
    width: 180px;
    margin: 15px 20px 0 20px;
    background-color: darkgreen;
    &__image {
    }
    &__progress {
    }
  }
  &__name {
    font-size: 22px;
    margin:0 20px;
  }
  &__state {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 150px;
  }
}