@import "mixin/flex-bundle";
@import "mixin/button-template";
@import "mixin/book-frame";

.main{
  max-width: 772px;
  margin: 0 auto;
  padding-bottom: 30px;
  @include flex-bundle("", "");
  flex-wrap: wrap;
  &__frame {
    min-height: 281px;
    min-width: 193px;
    @include flex-bundle(center, center);
  }
}
