@import "mixin/flex-bundle";
@import "mixin/status-color";

.main{
  height: calc(100vh - 170px);
  @include flex-bundle(center, center);
  &__frame {
    height: calc(90vh - 170px);
    width: 90vw;
    padding: 0 0 20px 20px;
    @include flex-bundle(center, "");
    flex-wrap: wrap;
  }
}

.book {
  height: 300px;
  width: 220px;
  background-color: white;
  border: solid 2px black;
  margin: 0 20px 20px 0;
  &__body {
    height: 200px;
    width: 180px;
    margin: 15px 20px 0 20px;
    background-color: darkgreen;
    position: relative;
    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    }
    &__progress {
      color: white;
      font-size: 26px;
      font-weight: bold;
      text-shadow:  2px  2px 2px #333;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  &__name {
    font-size: 22px;
    margin:0 20px;
  }
  &__state {
    width: 80px;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 130px;
    border-radius: 4px;
    @include flex-bundle(center, "");
    &--there {
      @include status-color(0);
    }
    &--not-there {
      @include status-color(1);
    }
  }
}