@import "mixin/flex-bundle";
@import "mixin/button-template";
@import "mixin/various-template";

@mixin h1-template() {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 25px;
  border-bottom: solid rgba(6, 48, 77, 0.671) 3px;
}

@mixin h2-template() {
  padding-bottom: 5px;
  font-size: 28px;
  border-bottom: solid rgba(6, 48, 77, 0.671) 3px;
}

@mixin menuPalerTemplate() {
  background-image: image-url("paper_texture_01.png");
  height: max-content;
  max-height: 100%;
  width: 525px;
  padding: 30px 50px;
  background-size: cover;
  box-shadow: 5px 0px 5px #000000a0;
  margin: auto;
  background-repeat: no-repeat;
}

.center {
  @include calc-header-height("body");
  width: 100%;
  background-image: image-url("green_wood.jpg");
  &__over-color {
    position: fixed;
    @include calc-header-height("body");
    width: 100%;
    background-color: rgba(9, 11, 41, 0.37);
    overflow: auto;
    @include flex-bundle(center, "");
  }
}

.menu {
  // font-family: 'arial unicode ms';
  margin-top: 30px;
  margin: 30px auto;
  background-repeat: no-repeat;
  background-size: contain;
  &--book {
    height: 750px;
    min-width: 1125px;
    width: 1125px;
    background-image: image-url("mypage.png");
    @include flex-bundle("", "");
  }
  &--paper {
    @include menuPalerTemplate();
    min-height: 700px;
  }
  &--compactPaper {
    @include menuPalerTemplate();
    margin-bottom: 20px;
  }
  h1 {
    @include h1-template();
  }
  h2 {
    margin: 20px 0;
    @include h2-template();
    font-size: 20px;
  }
  h6 {
    font-size: 20px;
  }

  .Profile {
    // height: 590px;
    height: max-content;
    width: 430px;
    &__items {
      margin-top: 20px;
      &__icon {
        @include icon();
      }
      &__user-menu {
        width: 220px;
        margin:20px 0 0 auto;
        font-size: 20px;
        ul {
          li {
            width: 100;
            padding: 2px 0;
            margin: 10px 15px 0 15px;
            text-align: center;
            border-radius: 5px;
            @include button-template("", "yellow");
            .logout {
              padding: 5px 42px;
            }
          }
          li:hover {
            @include button-template("", "hover-yellow");
          }
        }
      }
    }
    &__bottom {
      &__user-name {
        width: 200px;
        padding-bottom: 2px;
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
        border-bottom: solid rgba(6, 48, 77, 0.671) 2px;
      }
      &__status {
        margin-top: 10px;
        li {
          margin-top: 5px;
        }
      }
    }
  }

  &__right {
    // height: 590px;
    height: max-content;
    width: 430px;
    ul {
      margin-top: 10px;
      li {
        padding: 2px 30px;
        font-size: 20px;
        margin: 0 10px 10px 10px;
        @include button-template("", "green");
        border-radius: 5px;
      }
      li:hover {
        @include button-template("", "hover-green");
      }
    }
    .actions {
      margin: 30px 0 0 190px;
    }
  }
}

.MenuContentsPaper {
  width: 100%;
}

.ContentMarginLeft {
  margin: 90px 0 0 100px;
}

.ContentMarginRight {
  margin: 90px 0 0 80px;
}

.SmallMyPage {
  @include flex-bundle("", center);
  flex-direction: column;
}
