@import "mixin/flex-bundle";
@import "mixin/cover-items";
@import "mixin/button-template";

.newWrapper {
  width: 705px;
  margin: 40px auto 0 auto;
  // margin: 40px auto; change_mode_sum_or_moon.jsで設定
  // margin: 0 50px; moonモード時
}

.cover {
  height: 318px;
  padding: 10px;
  border-radius: 5px;
  background-color: #22185ee6;
  &__text {
    flex-wrap: wrap;
    &__title {
      margin-top: 15px;
      @include flex-bundle("", "");
      &__exp {
        @include cover-item();
      }
      &__textbox {
        @include cover-textbox();
      }
    }
    &__chapter {
      margin-top: 13px;
      @include flex-bundle("", "");
      &__exp {
        @include cover-item();
      }
      &__textbox {
        @include cover-textbox();
      }
    }
  }
  &__image {
    height: 198px;
    width: 178px;
    background-color: rgba(182, 201, 226, 0.9);
    border: solid rgb(135, 159, 189) 5px;
    border-radius: 5px;
    position: relative;
    &__white {
      @include book-page();
      position: absolute;
      min-height: 123px;
      max-height: 123px;
      min-width: 129px;
      max-width: 129px;
      background-color: #eee5d2;
      top: 19px;
      left: 19px;
    }
    &__top-color {
      position: absolute;
      min-height: 112px;
      min-width: 115px;
      top: 57px;
      left: 18px;
      background-color: #e9e9e9;
    }
    &__top-icon {
      position: absolute;
      height: 99px;
      top: 65px;
      left: 24px;
      background-size: cover;
    }
    &__book-line {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 168px;
    }
    &__button-box {
      position: absolute;
      top: 88px;
      left: 174px;
      padding: 10px;
      label {
        display: block;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #ccccdd;
        border: outset #666677 2px;
        border-radius: 3px;
        .fa-plus {
          margin-left: 1px;
        }
      }
      label:hover {
        background-color: #bbbbcc;
      }
    }
    input {
      display: none;
    }
    &__icon-menu {
      display: none;
    }
    input:checked ~ &__icon-menu {
      display: block;
    }
    &__color-menu {
      display: none;
    }
    input:checked ~ &__color-menu {
      display: block;
    }
    ul.icon { // アイコン選択部分のレイアウト
      top: -4px;
      left: 243px;
      // :after {
      //   right: 0;
      //   bottom: 6px;
      //   left: -225px;
      // }
    }
    .small-icon {
      background-size: contain;
    }
    ul.color { // 色選択部分のレイアウト
      top: -4px;
      left: 464px;
      // :after {
      //   right: 0;
      //   top: -1px;
      //   left: -225px;
      // }
    }
    ul {
      width: 198px;
      position: absolute;
      padding: 15px;
      background-color: rgb(235, 208, 173);
      border: solid rgb(216, 171, 113) 4px;
      border-radius: 15px;
      @include flex-bundle("","");
      flex-wrap: wrap;
      // :after {
        // content: "";
        // position: absolute;
        
        // width: 0px;
        // height: 0px;
        // margin: auto;
        // border-style: solid;
        // border-color: #d8ab71 transparent transparent transparent;
        // border-width: 34px 15px 0 15px;
        // transform: rotate(90deg);
      // }
      li {
        height: 40px;
        width: 40px;
        padding: 2px 10px;
        text-align: center;
        background-color: #ddf;
        border: outset #aab 2px;
        border-radius: 3px;
        div:hover {
          height: 40px;
          width: 40px;
          margin-top: -4px;
          margin-left: -12px;
          background-color: rgba(204, 204, 204, 0.4);
        }
      }
    }
  }
}

.text {
  margin-top: 10px;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: #b6c9e2e6;
  &__exp {
    height: 35px;
    width: 90px;
    padding: 0 20px;
    font-size: 16px;
    border: solid 2px black;
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__textbox {
    height: 300px; //仮置き
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    background-color: white;
    border: solid 2px black;
    border-radius: 0 15px 15px 15px;
    outline: none;
  }
  &__post {
    height: 50px;
    width: 126px;
    padding: 0 20px;
    margin-top: 5px;
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    @include button-template("", "green");
    @include flex-bundle(center, center);
  }
}
