@import "mixin/flex-bundle";
@import "mixin/button-template";
@import "mixin/steal-button";

.SentencesPage {
  min-height: 700px;
}

.SentenceInfo {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.SentenceList {
  max-height: calc(100vh - 225px);
  border-top: solid rgba(6, 48, 77, 0.671) 3px;
  border-bottom: solid rgba(6, 48, 77, 0.671) 3px;
  overflow: auto;
}

.SentenceBox {
  margin-top: 3px;
  margin-bottom: 5px;
  @include flex-bundle(flex-end, "");
  flex-wrap: wrap;
  &__saveButton {
    @include steal-button();
    @include button-template("", "green");
  }
  &__saveButton:hover {
    @include button-template("", "hover-green");
  }
  &__deleteSentence {
    padding-top: 2px;
    @include steal-button();
    @include button-template("", "red");
  }
  &__deleteSentence:hover {
    @include button-template("", "hover-red");
  }
  &__quote {
    padding: 2px 0 2px 40px;
    margin-right: 5px;
    font-size: 10px;
  }
  &__quote:hover {
    color: #069;
  }
  &__sentence {
    min-height: 30px;
    width: 91%;
    padding: 0 5px;
    background-color: white;
    border: solid #777 1px;
    border-radius: 5px;
    font-size: 12px;
    @include flex-bundle("", center);
  }
}
