@import "mixin/flex-bundle";
@import "mixin/cover-items";
@import "mixin/various-template";
@import "mixin/button-template";
@import "mixin/steal-button";

@mixin cover-title() {
  color: white;
  font-size: 18px;
  text-shadow:  2px  2px 2px #333;
  font-weight: bold;
  border-bottom: solid 3px white;
}

@mixin text-color() {
  color: #0e0e0f;
}

@mixin show-width {
  max-width: 705px;
}

.ReadWrapper {
  margin: 0 auto;
  .MainContents {
    margin-right: 430px; // moonモードのmargin
  }
}

.BookTop {
  @include show-width();
  width: 705px;
  padding: 10px;
  margin:40px auto 0 auto;
  border-radius: 5px;
  @include flex-bundle("", flex-end);
  background-color: #22185ee6;
  &__info {
    width: 500px;
    margin-left: 15px;
    &__title {
      @include flex-bundle("", "");
      @include cover-title();
    }
    &__author {
      @include cover-title();
      margin-top: 12px;
    }
  }
  &__cover {
    min-height: 188px;
    min-width: 170px;
    background-color: #d2deff80;
    position: relative;
    &__white {
      @include book-page();
      position: absolute;
      min-height: 123px;
      max-height: 123px;
      min-width: 129px;
      max-width: 129px;
      background-color: #eee5d2;
      top: 19px;
      left: 19px;
    }
    &__color {
      position: absolute;
      min-height: 112px;
      min-width: 115px;
      top: 57px;
      left: 18px;
    }
    &__icon {
      position: absolute;
      height: 99px;
      top: 65px;
      left: 24px;
    }
    &__line {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 168px;
    }
    &__bookmark {
      position: absolute;
      right: 5px;
      bottom: 5px;
      height: 28px;
      width: auto;
      padding: 4px 0 0 8px;
      background-color: #babae0;
      border-radius: 11px;
      @include flex-bundle("","");
    }
  }
}

.story-content {
  margin: 0 auto;
  @include text-back();
  &__info {
    width: 100%;
    border-bottom: solid 2px #131516;
    @include flex-bundle(space-between, "");
    &__chapter {
      @include text-color();
      font-size: 18px;
      font-weight: bold;
    }
    &__author {
      height: auto;
      @include text-color();
      font-size: 18px;
      font-weight: bold;
      @include flex-bundle("", "");
      &__icon {
        height: 35px;
        width: 35px;
        margin: -7px 8px 0 0;
        background-color: #d9e5f7;
        border: solid #4b6ea3 1px;
        background-size: cover;
        border-radius: 50%;
      }
    }
    a:hover {
      opacity: 0.5;
    }
  }
  &__text {
    height: auto;
    width: 100%;
    @include text-color();
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: solid 2px #777777;
    border-radius: 5px;
  }
}

.rent {
  @include show-width();
  margin: 20px auto 50px auto;
  @include flex-bundle(flex-end, "");
  &__button {
    &--there {
      @include button-template("middle", "green");
      width: 144px;
    }
    &--there:hover {
      @include button-template("middle", "hover-green");
      width: 144px;
    }
    &--not-there {
      @include button-template("middle", "red");
      width: 144px;
    }
  }
}

.StealContents {
  position: fixed;
  right: 8%;
  bottom: 4%;
  &__stealSentences {
    position: relative;
    min-height: 100px;
    max-height: 64vh;
    width: 402px;
    padding: 5px 0;
    background-color: #b6c9e2e6;
    border-radius: 10px;
    &__info {
      padding-top: 5px;
      text-align: center;
      font-size: 14px;
    }
    &__sentences {
      max-height: 59vh;
      margin: 2px 10px;
      overflow: auto;
    }
  }
  &__stealSentences:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 200px;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #b6c9e2e6 transparent transparent transparent;
    border-width: 20px 20px 0 20px;
  }
  &__bag {
    img {
      margin: 20px 0 0 220px;
      height: 150px;
    }
  }
}

// 自分の話を編集する系
@mixin editButtonTemplate() {
  display: inline;
  width: max-content;
  margin: 5px 0 0 5px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.StoryEditButton {
  @include editButtonTemplate();
  @include button-template("","yellow");
}
.StoryEditButton:hover {
  @include button-template("","hover-yellow");
}

.StopStoryEditButton {
  @include editButtonTemplate();
  @include button-template("","yellow");
}
.StopStoryEditButton:hover {
  @include button-template("","hover-yellow");
}

.MyStoryEditText {
  .ButtonArea {
    @include flex-bundle(flex-end, "");
  }
}

.MyStoryEditForm {
  display: none;
  .TextField {
    height: auto;
    width: 100%;
    color: #0e0e0f;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border: solid 2px #1b65d4;
    border-radius: 5px;
  }
  .ButtonArea {
    @include flex-bundle(flex-end, "");
  }
  .UpdateButton {
    @include editButtonTemplate();
    @include button-template("","green");
  }
  .UpdateButton:hover {
    @include button-template("","hover-green");
  }
}
