@import "mixin/button-template";
@import "mixin/various-template";

.AccountWrapper { // 不要
  height: calc(100vh - 110px);
  width: 100%;
  overflow: scroll;
}

.AccountPage { // 不要
  width: 980px;
  margin: 90px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.account-edit-left {
  position: relative;
  height: 585px;
  &__link {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.Button {
  @include button-template("middle", "yellow");
  height: 34px;
  width: 225px;
  padding: 2px 0;
  margin: 10px 15px 0 15px;
}

.account-edit-right {
  &__image {
    margin-top: 10px;
  }
  &__icon {
    @include icon();
    margin-bottom: 20px;
    position: relative;
    .fa {
      position: absolute;
      top: 37%;
      left: 36%;
      padding: 4px 8px;
      color: #44444480;
      font-size: 35px;
      border: solid #44444480 2px;
      border-radius: 8px;
    }
    .fa:hover {
      color: #88888880;
      border: solid #88888880 2px;
    }
  }
  // &__icon:hover {
  //   background-color: rgb(226, 234, 247);
  // }
  .Button {
    margin: 70px 0 0 200px;
  }
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

// .UserButton {
//   margin-top: 20px;
//   color: #fff;
//   background-color: #38aef0;
// }

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
