@import "mixin/button-template";
@import "mixin/various-template";


.Button {
  @include button-template("middle", "yellow");
  font-weight: normal;
  height: 38px;
  width: 225px;
  padding: 2px 0;
  margin: 20px 0 0 auto;
  cursor: pointer;
}
.Button:hover {
  @include button-template("", "hover-yellow");
}


.account-edit {
  .FormArea {
    padding-bottom: 20px;
    border-bottom: solid rgba(6, 48, 77, 0.671) 3px;
  }
  &__image {
    margin-top: 10px;
  }
  &__icon {
    @include icon();
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    .fa {
      position: absolute;
      top: 37%;
      left: 36%;
      padding: 4px 8px;
      color: #444444cc;
      font-size: 35px;
      border: solid #444444cc 2px;
      border-radius: 8px;
    }
    .fa:hover {
      color: #888888cc;
      border: solid #888888cc 2px;
    }
    input {
      display: none;
    }
  }
  .Button {
    margin: 25px 0 0 auto;
  }
  .Button:hover {
    @include button-template("", "hover-yellow");
  }
}

.FormField {
  &__errorMessage {
    margin-top: 10px;
    color: #d65f4c;
    font-size: 14px;
  }
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
    border: none;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
