@import "mixin/button-template";
@import "mixin/various-template";

.account-edit-left {
  position: relative;
  height: 585px;
  &__link {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
}

.Button {
  @include button-template("middle", "yellow");
  height: 34px;
  width: 225px;
  padding: 2px 0;
  margin: 10px 15px 0 15px;
}

.account-edit-right {
  &__image {
    margin-top: 10px;
  }
  &__icon {
    @include icon();
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    .fa {
      position: absolute;
      top: 37%;
      left: 36%;
      padding: 4px 8px;
      color: #444444cc;
      font-size: 35px;
      border: solid #444444cc 2px;
      border-radius: 8px;
    }
    .fa:hover {
      color: #888888cc;
      border: solid #888888cc 2px;
    }
    input {
      display: none;
    }
  }
  .Button {
    margin: 70px 0 0 200px;
  }
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
