= form_with(url: search_books_path, class: "SearchBar", local: true, method: :get) do |f|
  = f.text_field :keyword, placeholder: '本のタイトルを検索', class: 'SearchBar__textField', maxlength: 48
  = f.button type: :submit, class: "SearchBar__submit" do
    = icon('fa', 'search')