%h2 本の貸出状態
%table.SearchRentalState{"data-rental" => @rental_state_hidden_params}
  %tr
    %th
      = f.check_box :rental_state, {multiple: true, include_hidden: false, class: 'CheckBox rental', id: 'rental_state[1]'}, 'rental'
    %td
      %label{for: 'rental_state[1]'}
        .CanRental 貸出可
  %tr
    %th
      = f.check_box :rental_state, {multiple: true, include_hidden: false, class: 'CheckBox notRental', id: 'rental_state[2]'}, 'notRental'
    %td
      %label{for: 'rental_state[2]'}
        .CanNotRental 貸出中
  %tr
    %th
      = f.check_box :rental_state, {multiple: true, include_hidden: false, class: 'CheckBox complete', id: 'rental_state[3]'}, 'complete'
    %td
      %label{for: 'rental_state[3]'}
        .Complete 完結